@import 'tailwindcss';

:root {
  color-scheme: dark;
}

html {
  scroll-padding-top: 5rem;
}

body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}
